<header class="site-header" data-bg-image="" style="background-image: url(&quot;&quot;);">
    <div class="container">
        <div class="header-bar">
            <a href="http://www.minds-genes.org" class="branding">
                <img src="https://cnvprediction.urca.ca/images/logo@2x.png" alt="" class="logo" target="_blank" width="63" height="60">
                <div class="logo-type">
                    <h1 class="site-title">Minds &amp; Genes</h1>
                    <small class="site-description">Genetic study</small>
                </div>
            </a>

            <nav class="main-navigation">
                <button class="menu-toggle"><i class="fa fa-bars"></i></button>
                <ul class="menu">
                    <li class="home menu-item"><a href="http://www.minds-genes.org"><img src="https://cnvprediction.urca.ca/images/home-icon@2x.png" alt="Home" width="20" height="17"></a></li>
                    <li class="menu-item"><a href="https://www.facebook.com/15q16p/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li class="menu-item"><a href="https://twitter.com/mindsgenes" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                </ul>

            </nav>

            <div class="mobile-navigation"><ul class="menu">
                    <li class="home menu-item"><a href="http://www.minds-genes.org"><img src="https://cnvprediction.urca.ca/images/home-icon@2x.png" alt="Home" width="0" height="0"></a></li>
                    <li class="menu-item"><a href="https://www.facebook.com/15q16p/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li class="menu-item"><a href="https://twitter.com/mindsgenes" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                </ul></div>
        </div>
    </div>
</header>
